div.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    div.logo {
        img {
            width: 120px;
        }
    }

    div.message {
        display: flex;
        flex-direction: column;
        margin-left: 2.5em;
        gap: 0.9em;

        div.code {
            font-size: 220%;
            font-weight: 500;
        }

        div.text {
            font-size: 120%;
        }
    }
}

@media only screen and (min-width: 100px) and (max-width: 550px) {
    div.container {
        display: flex;
        flex-direction: column;

        div.message {
            margin-left: 0;
            margin-top: 3em;
            text-align: center;
        }
    }
}